<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
    <ion-buttons slot="end">
      <button (click)="addTop()">+ADD ITEM</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let top of tops">
      <ion-item>
        {{top.title}}
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title (click)="logout()">Log out</ion-title>
  </ion-toolbar>
</ion-footer>
