<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top {{top?.top == null ? '...' : top?.top}} {{top?.title == null ? '' : top?.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-slides>
    <ion-slide *ngFor="let item of items">
      <ion-card class="card">
        <img [src]="item.image" class="player-image">
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{item.description}}</ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
